<!DOCTYPE html>
<html lang="en">
<head>
    <script>
        const DASH_ID = "<%= dashID %>";
    </script>
    <%- include ('partials/head.ejs'); -%>
</head>
<body>
    <div class = "dashboard">
    <div class = "dashboard-left">
        <header class="site-header">
            <%- include ('partials/header.ejs'); -%>
        </header>
        <div class="popup">
            <span class="popuptext"></span>
        </div>
        <div class = "videos">
            <div id="video-slides">
                
            </div>
        </div>
        <div class = "control-block">
        <div class="controls">
            <%- include ('partials/controls.ejs'); -%>
        </div>
        <div class="side-controls">
            <%- include ('partials/side-controls.ejs'); -%>
        </div>
    </div>
    </div>
        <%- include ('partials/chat.ejs'); -%>
        <%- include ('partials/attendee.ejs'); -%>
    </div>
    <script src="script.js"> </script>
    
</body>
</html>