<!DOCTYPE html>
<html lang="en">
<head>
    <script>
        const DASH_ID = "<%= dashID %>";
    </script>
    <%- include ('partials/head.ejs'); -%>
</head>
<body>
    <div class = "dashboard">
    <div class = "dashboard-left">
        <header class="site-header">
            <%- include ('partials/header.ejs'); -%>
        </header>
        <div class = "videos">
            <div id="video-slides">
                <%- include ('partials/video-slides.ejs'); -%>
            </div>
        </div>
        <div class="controls">
            <%- include ('partials/controls.ejs'); -%>
        </div>
    </div>
    <div class= "chat">
        <%- include ('partials/chat.ejs'); -%>
    </div>
    </div>
    <script src="script.js"> </script>
    
</body>
</html>